body,
html {
  width: 97%;
  background-color: #151515;
  overflow: none;
}

.bolum1 {
  display: unset;
}

.bolum2 {
  display: none;
}

.head-zone {
  margin: 2%;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

p1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(149, 149, 149);
}

.grid-container {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 3%;
}
.grid-item {
  height: 200px;
  width: 88%;
  margin-bottom: 30%;
  border-radius: 10px;
  border: red;
  overflow: hidden;
  align-items: center;
  position: relative;
  text-align: center;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

.grid-item img {
  width: 100%;
  min-width: 250px;
  object-fit: contain;
}

/* Bottom left text */
.bottom-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 8px;
  left: 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.image-holder {
  height: 300px;
  width: 100%;
}
.image-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 20% 0;
}

h4 {
  margin: 20px;
  color: #e3e3e3;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}
p2 {
  margin: 40px;
  color: #e3e3e3;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
.buttonHolder {
  position: absolute;
  bottom: 0;
}

.divider-line {
  background: #ff5b44;
  width: 98%;
  height: 1px;
  margin: 15px 0;
  display: flex;
}
.arButtons {
  margin: 10px;
  border: none;
  background-color: #ff5b44;
  color: white;
  height: 50px;
  width: 80px;
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.textHolder {
  width: 99%;
}
.buttonHolderContainer {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-button {
  margin: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #ff5b44;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  color: white;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
